.header {
  text-align: left;
  @include font_bold_small;
  width: 100%;
  text-transform: uppercase;
  color: lightgrey;
}

.under {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 41px;
  z-index: 3;
  background: white;
}

.top {
  font-size: 18px;
  height: 40px;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  background: white;

  //display: flex;
  z-index: 4;
  background: linear-gradient(340deg, #e4ff6d 0%, #ff4500 47%, #aa00ff 77%, #cc4499 100%);
  //background-clip: text;
  //-webkit-text-fill-color: transparent;

  color: white;

  // &:before {
  //   display: block;
  //   content: "";
  //   height: 3px;
  //   width: 100%;
  //   background: linear-gradient(340deg, #e4ff6d 0%, #ff4500 47%, #aa00ff 77%, #cc4499 100%);
  // }

  // &:after {
  //   display: block;
  //   content: "";
  //   height: 3px;
  //   width: 100%;
  //   background: linear-gradient(340deg, #e4ff6d 0%, #ff4500 47%, #aa00ff 77%, #cc4499 100%);
  // }

  // border-bottom: 1px solid lightgray;

  ul {
    margin: 0;
    padding: 0.5rem 0;
    padding-left: 1rem;
    list-style-type: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
    // display: flex;
    font-weight: 700;
    padding: 0 1rem;

    // &:before {
    //   content: "::";
    //   padding: 0 0.5rem;
    //   text-decoration: none !important;
    // }

    &:hover {
      display: block;
      //color: #cc4499 !important;
      //text-decoration: line-through;
      opacity: 0.8;
      &:before {
        text-decoration: none;
        opacity: 1 !important;
        //color: grey !important;
      }
      // &:after {
      //   display: block;
      //   content: "";
      //   height: 1px;
      //   width: 100%;
      //   position: relative;
      //   background: white;
      //   opacity: 0.6;
      //   top: -0.65rem;
      //   left: 0.8rem;
      // }
    }

    &.active {
      //color: #222;
      display: block;
      font-weight: 800;
      //text-decoration: line-through;

      &:before {
        //color: grey !important;
        text-decoration: none !important;
      }
      &:after {
        display: block;
        content: "";
        height: 1px;
        width: calc(100% + 2rem);
        opacity: 0.8;
        position: relative;
        background: white;
        top: -0.65rem;
        left: -1rem;
      }
    }

    &:first-child {
      text-decoration: none !important;
      font-weight: 700;
      &:before {
        display: none;
      }
      &:after {
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        position: relative;
        background: transparent;
        top: -0.65rem;
        left: 0.8rem;
      }
    }
  }

  ul {
    display: flex;
  }
}
