body {
  margin: 40px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.wrapper .box {
  position: relative;
  height: 100%;
}

.wrapper .a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.wrapper .b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.wrapper .c {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.wrapper .d {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.wrapper .e {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.wrapper .f {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.wrapper .g {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.wrapper .h {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.wrapper .i {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.wrapper .j {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.wrapper .k {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.wrapper .l {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.wrapper .box .img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .box .shade {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .box .inverse {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .box:hover .img {
  margin: 5%;
  width: 90%;
  height: 90%;
  opacity: 0.8;
  -webkit-filter: saturate(10);
          filter: saturate(10);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .box:hover .shade {
  margin: 5%;
  width: 90%;
  height: 90%;
  opacity: 0.6;
  -webkit-filter: hue-rotate(-60deg) saturate(8);
          filter: hue-rotate(-60deg) saturate(8);
  -webkit-transform: translate3d(12px, -22px, -35px);
          transform: translate3d(12px, -22px, -35px);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.wrapper .box:hover .inverse {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 70%;
  opacity: 1;
  opacity: 0.5;
  -webkit-filter: hue-rotate(100deg) saturate(8);
          filter: hue-rotate(100deg) saturate(8);
  -webkit-transform: translate3d(-0.7rem, 4px, 1rem);
          transform: translate3d(-0.7rem, 4px, 1rem);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
/*# sourceMappingURL=interferance-image.css.map */