
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

*::-webkit-scrollbar { width: 0 !important }

* { overflow: -moz-scrollbars-none; }

* { -ms-overflow-style: none; }

.title {
    font-size: 32pt;
    color: black;
    font-weight: 700;
    font-family: 'Space Mono';
    
    padding-top: 1rem;
}

.item span {
    padding-left: 1rem;
    font-size: 12pt;
    color: grey;
}

.title-secondary {
    font-size: 12pt;
    color: darkgrey;
    font-weight: 400;
}

.item {
    display: flex;
    align-items: baseline;
    height: 5rem;
    font-size: 20pt;
    color: grey;
    background: white;
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 28px, rgba(255, 255, 255, 1) 75%);
    transition: .4s ease;
}

.parent {
    margin-top: 30px;
    padding-top: 7px;
    background-image: linear-gradient(319deg, #e4ff6d 0%, #FF4500 37%, #e4ff6d 100%);

}

.item:hover {
    background: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 28px, rgba(255, 255, 255, 1) 75%);
    transition: .4s ease;
}

.item:hover span {
    color: black;
}

.body {
    font-size: 16pt;
    color: darkgrey;
}

.header {
	text-align: left;
	font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    color: lightgrey;
}

li {
	//border-bottom: 1px solid darkgrey;
	list-style-type: none;
    color: grey;
}

ul {
	padding-left: 0;
}

.fetching-box {

    padding: 3rem;
    padding-top: 30%;
	width: 15%;
	height: 100%;
    padding-left: 15rem;
    opacity: 1;
    color: black;
	position: fixed; 
	top: 0;
	right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 28px, rgba(255, 255, 255, 0) 45%);
    transition: .4s ease;
}




.fetching-box.open {
    width: 90%;
    opacity: 1;
    overflow: scroll;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 28px, rgba(255, 255, 255, 1) 45%);
    transition: .4s ease;
}



.main-image {
    width: 100%;
    height: auto;
}

.fetching-box .close-button {
    display: none;
}

.fetching-box.open .close-button {
   display: block;
   position: fixed;
   top: 3rem;
   right: 3rem;
   width: 6rem;
   height: 3rem;
   background: #e4ff6d;
}

.fetching-box .main-image {
    display: flex;
}

.fetching-box.open .main-image {
    display: none;
}

.fetching-box .post-content {
    display: none;
}

.fetching-box.open .post-content {
    display: block;
}

.post-content {
    width: 70%;
    font-size: 22px;
    line-height: 32px;
}

.list {
    
    overflow: scroll;
}