
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

.title {
    font-size: 32pt;
    color: black;
    font-weight: 700;
    font-family: 'Space Mono';
    cursor: pointer;
}

.item span {
    padding-left: 1rem;
    font-size: 12pt;
    color: grey;
}

.title-secondary {
    font-size: 12pt;
    color: darkgrey;
    font-weight: 400;
}

.item {
    padding: 10px;
    font-size: 20pt;
    color: grey;
    background: white;
}

.parent {
    background-image: linear-gradient(319deg, #e4ff6d 0%, #ffad42 37%, #e4ff6d 100%);

}

.item:hover {
    background: none;
    //background-image: linear-gradient(to right, rgba(225,0,0,.5), rgba(225,0,0,0));
}

.item:hover span {
    color: black;
}

.body {
    font-size: 16pt;
    color: darkgrey;
}

.header {
	text-align: left;
	font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    color: lightgrey;
}

li {
	//border-bottom: 1px solid darkgrey;
	list-style-type: none;
    color: grey;
}

ul {
	padding-left: 0;
}

.fetching-box {

    padding: 3rem;
	width: 15%;
	height: 100%;
    padding-left: 15rem;
    opacity: 1;
    color: black;
	position: fixed; 
	top: 0;
	right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 28px, rgba(255, 255, 255, 1) 45%);
    transition: .4s ease;
}


.fetching-box.open {
    width: 90%;
    opacity: 1;
    transition: .4s ease;
}

h1 {
    font-size: 18px;
}