@import url("https://fonts.googleapis.com/css?family=Domine|Montserrat&display=swap");
body {
  font-family: "Domine";
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
}

.body {
  font-size: 16pt;
  color: darkgrey;
}

.bottom-padding {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

* {
  overflow: -moz-scrollbars-none;
}

* {
  -ms-overflow-style: none;
}

.jump-next {
  color: grey;
  padding: 2rem;
  height: 4rem;
  font-weight: 700;
  text-decoration: none;
}

.jump-next:hover {
  text-decoration: underline;
}

.project-title {
  font-family: "Montserrat";
  color: lightgrey;
  font-size: 6rem;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Montserrat";
  color: lightgrey;
  margin-top: auto;
  line-height: 6.5rem;
  width: 50%;
  margin-left: 0;
}

.project-title.title-blog {
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

@media (min-width: 767px) {
  .project-title {
    font-size: 6rem;
  }
}

.project-title-home {
  padding-left: 1rem;
  font-family: "Montserrat";
  font-size: 16pt;
  color: grey;
  padding-top: 1rem;
}

.project-title-home.title-blog {
  margin-bottom: 0.5rem;
}

@media (min-width: 767px) {
  .project-title-home {
    font-size: 48pt;
  }
}

.project-subtitle {
  font-size: 12pt;
  color: darkgrey;
  font-weight: 400;
}

.project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 16pt;
  color: grey;
  background: white;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white 0%, white 100%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

@media (min-width: 767px) {
  .project-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.project-item span {
  padding-left: 1rem;
  font-size: 9pt;
  color: grey;
}

@media (min-width: 767px) {
  .project-item span {
    font-size: 12pt;
  }
}

.project-item:hover {
  color: white;
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.project-item:hover .project-title {
  color: white;
}

.project-item:hover .project-title-home {
  color: white;
}

.project-item:hover span {
  color: white;
}

.home-parent {
  margin-top: 30px;
  padding-top: 7px;
  background-image: linear-gradient(340deg, #e4ff6d 0%, #ff4500 47%, #aa00ff 77%, #cc4499 100%);
}

.home-parent li {
  list-style-type: none;
  color: grey;
}

.home-parent ul {
  padding-left: 0;
}

.fetching-box {
  overflow-y: none;
  padding-top: 0;
  opacity: 1;
  color: black;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.fetching-box .close-button {
  display: none;
}

.fetching-box .main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetching-box .post-content {
  display: none;
}

.fetching-box.open {
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white 0%, white 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.fetching-box.open .prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 5rem;
  right: 3rem;
}

.fetching-box.open .button-next,
.fetching-box.open .button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff4500;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-left: 1rem;
}

.fetching-box.open .close-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 5rem;
  right: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  color: white;
  content: "";
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
  font-family: "Montserrat";
  background: linear-gradient(340deg, white 0%, white 100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fetching-box.open .close-button:before {
  display: block;
  content: "";
  opacity: 0.6;
  height: 1px;
  background: grey;
  width: 3rem;
  position: fixed;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
          transform: translate(0px, 0px) rotate(-45deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fetching-box.open .close-button:after {
  display: block;
  content: "";
  opacity: 0.6;
  height: 1px;
  background: grey;
  width: 3rem;
  position: fixed;
  -webkit-transform: translate(0px, 0px) rotate(45deg);
          transform: translate(0px, 0px) rotate(45deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fetching-box.open .close-button:hover {
  background: linear-gradient(340deg, #ff4500 0%, #cc4499 100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fetching-box.open .close-button:hover:after {
  background: white;
  opacity: 0.9;
  height: 2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fetching-box.open .close-button:hover:before {
  background: white;
  opacity: 0.9;
  height: 2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fetching-box.open .main-image {
  display: none;
}

.fetching-box.open .post-content {
  display: block;
  width: 70%;
  font-size: 20px;
  line-height: 32px;
  padding-left: 5rem;
}

.fetching-box.open .project-content {
  background: linear-gradient(340deg, white 0%, white 100%);
}

.fetching-box.open .project-content-inner {
  background: linear-gradient(340deg, #e4ff6d 0%, #ff4500 47%, #aa00ff 77%, #cc4499 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fetching-box.open .project-content-inner p {
  background-clip: none;
  -webkit-text-fill-color: grey !important;
}

.header {
  text-align: left;
  font-family: "Montserrat";
  font-size: 12pt;
  color: grey;
  width: 100%;
  text-transform: uppercase;
  color: lightgrey;
}

.under {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 41px;
  z-index: 3;
  background: white;
}

.top {
  font-size: 18px;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  background: white;
  z-index: 4;
  background: linear-gradient(340deg, #e4ff6d 0%, #ff4500 47%, #aa00ff 77%, #cc4499 100%);
  color: white;
}

.top ul {
  margin: 0;
  padding: 0.5rem 0;
  padding-left: 1rem;
}

.top a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.top a:before {
  content: "::";
  padding: 0 0.5rem;
  text-decoration: none !important;
}

.top a:hover {
  display: block;
  opacity: 0.8;
}

.top a:hover:before {
  text-decoration: none;
  opacity: 1 !important;
}

.top a:hover:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  position: relative;
  background: white;
  opacity: 0.6;
  top: -0.65rem;
  left: 0.8rem;
}

.top a.active {
  display: block;
  font-weight: 800;
}

.top a.active:before {
  text-decoration: none !important;
}

.top a.active:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  opacity: 0.8;
  position: relative;
  background: white;
  top: -0.65rem;
  left: 0.8rem;
}

.top a:first-child {
  text-decoration: none !important;
  font-weight: 700;
}

.top a:first-child:before {
  display: none;
}

.top a:first-child:after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  position: relative;
  background: transparent;
  top: -0.65rem;
  left: 0.8rem;
}

.top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.focus-list li {
  list-style-type: none;
}

.focus-list div {
  font-size: 20px;
  margin: 1rem 0;
}

.skill-list li {
  list-style-type: none;
}

.h1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  color: lightgrey;
  font-size: 6rem;
  margin: auto;
  margin-top: 0;
}

.sources-list {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
}

.sources-list a {
  text-decoration: none;
  padding: 0 1rem;
}

.sources-list a:after {
  display: block;
  content: "";
  height: 2px;
  width: calc(100% + 2rem);
  position: relative;
  background: grey;
  opacity: 0.6;
  top: -1.15rem;
  left: -1rem;
}

.sources-list a:hover {
  color: black;
}

.bold {
  color: grey;
  text-transform: lowercase;
  font-size: 2rem;
  margin-right: 1rem;
}

.next-blog {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.blog-box {
  padding-top: 0;
  opacity: 1;
  color: #222;
  top: 0;
  left: 0;
  margin-left: 30%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.blog-box .close-button {
  display: none;
}

.blog-box .post-content {
  display: none;
}

.blog-box.open {
  opacity: 1;
  margin-left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white 0%, white 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.blog-box.open .prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 5rem;
  right: 3rem;
}

.blog-box.open .button-next,
.blog-box.open .button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  margin-left: 1rem;
}

.blog-box.open .close-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 5rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
}

.blog-box.open .post-content {
  display: block;
  width: 70%;
  font-size: 22px;
  line-height: 32px;
}

.blog-list.closed {
  opacity: 0.6;
  display: none;
}

.react-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
}

.react-tabs ul {
  display: block;
  max-width: 10rem;
}

.react-tabs ul li {
  list-style-type: none;
  color: grey;
  font-size: 18px;
  width: auto;
  display: inline-block;
  font-family: "Montserrat";
  text-decoration: none;
  padding: 0.5rem;
}

.react-tabs ul li:focus {
  outline: none;
}

.react-tabs ul li:hover {
  cursor: pointer;
  color: black;
}

.react-tabs ul .react-tabs__tab--selected {
  color: grey;
}

.react-tabs ul .react-tabs__tab--selected:after {
  display: block;
  content: "";
  height: 1px;
  width: calc(100% + 0.4rem);
  position: relative;
  background: grey;
  opacity: 0.6;
  top: -0.65rem;
  left: -0.2rem;
}

.tab-panel {
  padding: 0 5rem;
}

.tab-panel h1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: lightgrey;
  font-size: 6rem;
  margin: auto;
  margin-top: 0;
}

.about-box {
  padding: 2rem 5rem;
  padding-bottom: 20rem;
}

.galimage {
  width: 15rem;
  height: auto;
}

.art-list.closed {
  opacity: 0.6;
  display: none;
}

.art-box {
  padding-top: 0;
  opacity: 1;
  color: black;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.art-box .close-button {
  display: none;
}

.art-box .post-content {
  display: none;
}

.art-box.open {
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white 0%, white 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.art-box.open .prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 5rem;
  right: 3rem;
}

.art-box.open .button-next,
.art-box.open .button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  margin-left: 1rem;
}

.art-box.open .close-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 5rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
}

.art-box.open .post-content {
  display: block;
  width: 70%;
  font-size: 22px;
  line-height: 32px;
}

.special-button {
  display: block;
  color: black;
  margin-top: 5rem;
}
/*# sourceMappingURL=app.css.map */