@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
.under {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 30px;
  z-index: 3;
  background: white;
}

.top {
  font-size: 18px;
  color: grey;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  background: linear-gradient(340deg, #e4ff6d 0%, #FF4500 47%, #aa00ff 77%, #cc4499 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top ul {
  margin: 0;
}

.top a {
  color: grey;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.top a:hover {
  color: salmon;
  text-decoration: underline;
}

.top a:before {
  content: '::';
  padding: 0 .5rem;
}

.top a:first-child:before {
  display: none;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

* {
  overflow: -moz-scrollbars-none;
}

* {
  -ms-overflow-style: none;
}

.title {
  font-size: 49pt;
  color: black;
  font-weight: 700;
  font-family: 'Space Mono';
  padding-top: 1rem;
}

.title-secondary {
  font-size: 12pt;
  color: darkgrey;
  font-weight: 400;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 20pt;
  color: grey;
  background: white;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white 0%, white 100%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.item span {
  padding-left: 1rem;
  font-size: 12pt;
  color: grey;
}

.item:hover {
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.item:hover .title {
  color: white;
}

.item:hover span {
  color: white;
}

.parent {
  margin-top: 30px;
  padding-top: 7px;
  background-image: linear-gradient(340deg, #e4ff6d 0%, #FF4500 47%, #aa00ff 77%, #cc4499 100%);
}

.body {
  font-size: 16pt;
  color: darkgrey;
}

.header {
  text-align: left;
  font-size: 12px;
  width: 100%;
  text-transform: uppercase;
  color: lightgrey;
}

li {
  list-style-type: none;
  color: grey;
}

ul {
  padding-left: 0;
}

.fetching-box {
  overflow-y: none;
  padding-top: 0;
  opacity: 1;
  color: black;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.fetching-box .close-button {
  display: none;
}

.fetching-box .main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetching-box .post-content {
  display: none;
}

.fetching-box.open {
  opacity: 1;
  padding-top: 15%;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white 0%, white 100%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.fetching-box.open .prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 5rem;
  right: 3rem;
}

.fetching-box.open .button-next, .fetching-box.open .button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF4500;
  width: 4rem;
  height: 4rem;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  margin-left: 1rem;
}

.fetching-box.open .close-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 5rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  color: white;
  border-radius: 50%;
  background: #aa00ff;
  font-size: 14px;
  line-height: 14px;
}

.fetching-box.open .main-image {
  display: none;
}

.fetching-box.open .post-content {
  display: block;
  width: 70%;
  font-size: 22px;
  line-height: 32px;
}

.main-image {
  width: 100%;
  height: auto;
}

.home-list.closed {
  display: none;
}

.galimage {
  max-height: 15rem;
  height: 15rem;
  width: auto;
}
/*# sourceMappingURL=app.css.map */