body {
  margin: 0;
}

.nv-wrapper {
  display: -ms-grid;
  display: grid;
  z: 100%;
  -ms-grid-columns: (1fr)[25];
      grid-template-columns: repeat(25, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.nv-wrapper .box {
  position: relative;
  bottom: 0;
}

.nv-wrapper .a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .c {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .d {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .e {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .f {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .g {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .h {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .i {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9 / 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .j {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .k {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11 / 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .l {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .m {
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-column: 13 / 14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .n {
  -ms-grid-column: 14;
  -ms-grid-column-span: 1;
  grid-column: 14 / 15;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .o {
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-column: 15 / 16;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .p {
  -ms-grid-column: 16;
  -ms-grid-column-span: 1;
  grid-column: 16 / 17;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .q {
  -ms-grid-column: 17;
  -ms-grid-column-span: 1;
  grid-column: 17 / 18;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .r {
  -ms-grid-column: 18;
  -ms-grid-column-span: 1;
  grid-column: 18 / 19;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .s {
  -ms-grid-column: 19;
  -ms-grid-column-span: 1;
  grid-column: 19 / 20;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .t {
  -ms-grid-column: 20;
  -ms-grid-column-span: 1;
  grid-column: 20 / 21;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .u {
  -ms-grid-column: 21;
  -ms-grid-column-span: 1;
  grid-column: 21 / 22;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .v {
  -ms-grid-column: 22;
  -ms-grid-column-span: 1;
  grid-column: 22 / 23;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .w {
  -ms-grid-column: 23;
  -ms-grid-column-span: 1;
  grid-column: 23 / 24;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .y {
  -ms-grid-column: 24;
  -ms-grid-column-span: 1;
  grid-column: 24 / 25;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .z {
  -ms-grid-column: 25;
  -ms-grid-column-span: 1;
  grid-column: 25 / 26;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nv-wrapper .box .img {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 5s ease;
  transition: 5s ease;
}

.nv-wrapper .box .shade {
  position: absolute;
  width: 100%;
  left: 0;
  height: auto;
  bottom: 0;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.nv-wrapper .box .inverse {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: auto;
  -webkit-transition: 4s ease;
  transition: 4s ease;
}

.nv-wrapper .box:hover .img {
  margin: 0;
  width: 100%;
  height: 90%;
  opacity: .8;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: saturate(9);
          filter: saturate(9);
  -ms-filter: "FlipH";
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.nv-wrapper .box:hover .shade {
  margin: 5%;
  width: 90%;
  height: 90%;
  opacity: .6;
  -webkit-filter: hue-rotate(-60deg) saturate(8);
          filter: hue-rotate(-60deg) saturate(8);
  -webkit-transform: translate3d(12px, -22px, -35px);
          transform: translate3d(12px, -22px, -35px);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nv-wrapper .box:hover .inverse {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 70%;
  opacity: .5;
  -webkit-filter: hue-rotate(100deg) saturate(8);
          filter: hue-rotate(100deg) saturate(8);
  -webkit-transform: translate3d(-0.7rem, 4px, 1rem);
          transform: translate3d(-0.7rem, 4px, 1rem);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}
/*# sourceMappingURL=self.css.map */